/* fonts */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Righteous');

/* global styles */

body {
    text-align: center;
    font-family: 'Josefin Sans', helvetica;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
i {
    color: #102538;
}

h1 {
    font-family: 'Josefin Sans', cursive;
    font-size: 5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.1em;
}

i {
    font-size: 10em;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #102538;
}

footer {
    background: linear-gradient(270deg, #439CEF, #E8E9EA);
}


/* top segment */

.skills-wrapper {
    padding-top: 10%;
}

.skills-list {
    padding-top: 5%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}

nav li a {
    display: block;
    text-decoration: none;
    width: 10em;
}

nav ul li:nth-child(1) {
    border-left: none;
}

#nav-bar {
    padding-top: 10vh;
}

#hero {
    padding-top: 25vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom right, #E8E9EA 3%, #439CEF 51%);
}

.header {
    position: relative;
    padding-top: 5em;
}

#about {
    color: #193957;
}

#work {
    color: #193957;
}

#contact {
    color: #193957;
}

#portfolio {
    background: linear-gradient(to top left, #E8E9EA 0.1%, #439CEF 10%);
}

#contact-section {
    height: 100vh;
    background: linear-gradient(to bottom left, #E8E9EA 0.1%, #439CEF 10%);
}


/*portfolio segment*/

#portfolio>i {
    position: absolute;
}

#portfolio {
    position: relative;
    padding: 5% 13% 13% 13%;
}

.projects-wrapper {
    position: relative;
    height: 75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 4fr;
    grid-column-gap: 5em;
    grid-row-gap: 3em;
    width: 70vw;
    margin-top: 15vh;
}

.project-wrapper div {
    background-color: #fff;
    display: inline-block;
}

.title-row {
    width: 100%;
    height: 20vh;
}

.icon-row>div {
    width: 100%;
    height: 20em;
}

.icon-row {
    min-height: 15em;
}

.skills-row {
    width: 100%;
    height: 25vh;
    margin-top: 8vh;
}

@media only screen and (max-width: 600px) {
    .projects-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "tribute""generic""form""product""quiz""matt";
        height: 650vh;
    }
    nav ul {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    nav li a {
        width: 100%;
        padding: 1% 0px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 875px) {
    .projects-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "tribute generic""form product""quiz matt";
        height: 300vh;
    }
}

.projects-wrapper>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}


/* contact section */

#contact-section {
    position: relative;
    bottom: 50%;
    height: 100vh;
}

.sun {
    position: absolute;
    top: -6%;
    left: -2%;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFD973;
    opacity: 0.9;
    box-shadow: 0px 0px 40px 15px white;
    z-index: 99;
}